* {
    box-sizing: border-box;
}

html {
    font-size: 12pt;
    line-height: 1.4;
    font-weight: 400;
    font-family: 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
}

body {
    padding: 1em;
    margin: 0 auto;
    max-width: 1200px;
}

section {
    border-style: solid;
    border-width: 1 px;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

table {
 padding: 1em;
}

td,th {
    padding: 0.4em 1em;
}



.list {
    overflow: auto;
    max-height: 4rem;
    max-width: 600px;
}

[v-cloak] {
    display: none;
}

#phenotype_select {
    width: 300px;
    text-overflow: ellipsis;
}

.trace_image {
    width: 440px;
    aspect-ratio: 440/330;
    max-width: 100%;
}

.fancy_plot {
    width: 440px;
    aspect-ratio: 440/360;
    max-width: 100%
}
