:root {
    --primary: #879BAF;
    --dark: #435055;
}

hr {
    color: var(--primary);
}

a {
    color: var(--dark);
}

section {
    border-color: var(--primary);
}

#info-box{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
}

#profile {
    max-width: 500px;
    text-align: center;
}
#profile li {
    list-style-type: none;
    padding: 0.25rem;
}
#profile ul{
    padding-left: 0;
}
#profile h1 {
    margin: 0;
    padding: 0;
}
#summary {
    max-width: 700px;
}

#summary li{
    padding: 0.25rem;
}

.separator {
    display: flex;
    justify-content: space-evenly;
    margin: 0.0em;
    flex-wrap: wrap;
}
.separator div {
    min-width: 200px;
    max-width: 300px;
}

#headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

section:has(#publications) {
    min-height: 35rem;
}

.publication-list li{
    padding: 0.25rem;
}

.publication-list .extra{
    display: none;
}
.publication-list a {
    font-weight: 700;
}
.publication-list a::after {
  content: "";
  display: block;
}

.project-info {
    max-width: max(33.33%, 400px);
    min-width: min-content;
    border-style: solid;
    border-width: 1 px;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
    flex: 1;
}
.project-info p {
    flex-grow: 1;
}

#project-box {
    display: flex;
    flex-wrap: wrap;
}
#projects h3 {
    margin: 0em;
}


.tag {
    border-radius: 3px;
    padding: 0 1pt 0 1pt;
    font-size: 0.8em;
    white-space: nowrap;
}

.tag-first::before {
    content: "First author";
}
.tag-first {
    background: lightgreen;
    border: 1pt solid green;
}

.tag-senior::before {
    content: "Senior author";
}
.tag-senior {
    background: #40E0D0;
    border: 1pt solid #53b6ac;
}


.tag-collab::before {
    content: "Collaboration";
}
.tag-collab {
    background: lightyellow;
    border: 1pt solid yellow;
}

.tag-preprint::before {
    content: "Preprint";
}
.tag-preprint{
    color: white;
    background: #444;
    border: 1pt solid #222;
}

.tag-bio::before {
    content: "Biology";
}
.tag-bio {
    background: lightgrey;
    border: 1pt solid grey;
}

.tag-stats::before {
    content: "Statistics";
}
.tag-stats {
    background: lightgrey;
    border: 1pt solid grey;
}


.tag-math::before {
    content: "Math";
}
.tag-math {
    background: lightgrey;
    border: 1pt solid grey;
}

.tag-review::before {
    content: "Review";
}
.tag-review {
    background: lightgrey;
    border: 1pt solid grey;
}

.tag-bioinf::before {
    content: "Bioinformatics";
}
.tag-bioinf {
    background: lightgrey;
    border: 1pt solid grey;
}

.tag-selector:hover {
    background: #EEE;
    color: black;
    cursor: pointer;
}
.tag-selector:active {
    background: #999;
}
