:root {
    --primary: #879BAF;
    --dark: #435055;
}

hr {
    color: var(--primary);
}

a {
    color: var(--dark);
}

section {
    border-color: var(--primary);
}

#info-box{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    flex-wrap: wrap;
}

#profile {
    max-width: 500px;
    text-align: center;
}
#profile li {
    list-style-type: none;
    padding: 0.25rem;
}
#profile ul{
    padding-left: 0;
}
#profile h1 {
    margin: 0;
    padding: 0;
}
#summary {
    max-width: 700px;
}

#summary li{
    padding: 0.25rem;
}

.separator {
    display: flex;
    justify-content: space-evenly;
    margin: 0.0em;
    flex-wrap: wrap;
}
.separator div {
    min-width: 200px;
    max-width: 300px;
}

#headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.publication-list li{
    padding: 0.25rem;
}

.publication-list .extra{
    display: none;
}
.publication-list a {
    font-weight: 600;
}
.publication-list a::after {
  content: "";
  display: block;
}

.project-info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-width:100%;
}
.project-info p {
    flex-grow: 1;
}

#projects h3 {
    margin: 0em;
}
