<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PheWAS-SensR</title>
        <meta name="description" content="Phenome-Wide Association Study of Actigraphy in the UK Biobank">
        <meta name="author" content="Thomas G. Brooks">

        <meta property="og:title" content="Phenome-Wide Associations Study of Actigraphy in the UK Biobank">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://tgbrooks.github.io">
        <meta property="og:description" content="Thomas Brooks's GitHub pages web page">
        <!-- <meta property="og:image" content="image.png"> -->

        <!--
            <link rel="icon" href="/favicon.ico">
            <link rel="icon" href="/favicon.svg" type="image/svg+xml">
            <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        -->

        <link rel="stylesheet" href="css/main.css?v=2">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js" defer></script>
        <script src="js/phewas_sensr.js?v=2" defer></script>
    </head>

    <body>
        <div id="content">
            <h1>PheWAS-SensR</h1>

            <section>
                <h2> Paper </h2>
                <p id="citation">
                     <a href="https://www.medrxiv.org/content/10.1101/2021.12.09.21267558v1">Phenome-Wide Association Study of Actigraphy in the UK Biobank</a> </br>
                     Brooks TG, Lahens NF, Grant GR, Sheline YI, FitzGerald GA, Skarke C </br>
                     <a href="https://www.medrxiv.org/content/10.1101/2021.12.09.21267558v1">medRxiv 2021.12.09.21267558</a>; doi: <a href="https://doi.org/10.1101/2021.12.09.21267558">https://doi.org/10.1101/2021.12.09.21267558</a> </br>
                     2021.
                 </p>

                 <p> Dec. 11<sup>th</sup>, 2021 version 1 </p>
            </section>

            <section>
                <h2> Abstract </h2>
                <p>
                    TODO ... 
                </p>
            </section>

            <section>
                <div id="app" v-cloak>
                    <h2 id="results"> Results </h2>
                    <p>
                        Phenotypes were categorized according to <a href="https://phewascatalog.org/phecodes">PheCODE v1.2</a>.
                        Select a phenotype below to explore selected results related to the chosen phenotype; see paper for full methods and supplemental data for full results.
                        Top actigraphy-associated phenotypes include
                        <a href="#results" v-on:click="phenotype = 'Diabetes mellitus'">diabetes mellitus</a>,
                        <a href="#results" v-on:click="phenotype = 'Hypertension'">hypertension</a>,
                        <a href="#results" v-on:click="phenotype = 'Renal failure'">renal failure</a>,
                        <a href="#results" v-on:click="phenotype = 'Chronic airway obstruction'">chronic airway obstruction</a>,
                        <a href="#results" v-on:click="phenotype = 'Pneumonia'">pneumonia</a>,
                        <a href="#results" v-on:click="phenotype = 'Anxiety disorders'">anxiety disorders</a>, and
                        <a href="#results" v-on:click="phenotype = 'Disorders of lipoid metabolism'">disorders of lipoid metabolism</a>.
                    </p>


                    <select name="phenotype" v-model:value="phenotype" id="phenotype_select">
                        <option v-for="phecode in phecodes" v-bind:value="phecode" v-bind:key="phecode">
                            {{phecode}}
                        </option >
                    </select>

                    <div v-if="phenotype_results !== null">
                        <h3> {{phenotype}} </h3>

                        <h4> Acceleration and Temperature traces </h4>

                        <p>
                            Acceleration and wrist temperature were measured using an wrist-worn  Axivity AX3 for one-week periods (<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0169649">Doherty, et al 2017</a>).
                            Below are the average acceleration and wrist temperature values by case/control status across the day.
                        </p>
                        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-wrap: wrap">
                            <img v-bind:src="'figures/acc/' + file_path_phenotype + '.png'" class="trace_image">
                            </img>
                            <img v-bind:src="'figures/temp/' + file_path_phenotype + '.png'" class="trace_image">
                            </img>
                        </div>

                        <p>
                            Generated from {{phenotype_results.trace_match_counts}} case-controls pairs, matched by age and sex.
                            Temperature values are normalized to have mean 0 in each individual.
                            Solid curves give median value for the population at that time of day, and shaded regions indicate the middle 50% of the population.
                        </p>

                        <h4> Do diurnal rhythms predict {{phenotype}}?</h4>
                        <div v-if="phenotype_results.predictive_tests !== undefined">
                            <div style="display: flex; align-items: center; justify-content: space-evenly; flex-wrap: wrap">
                                <p>
                                    To determine if diurnal rhythms predict later diagnosis with the phenotypes, the individuals who had no record of the phenotype at the time of actigraphy measurement were selected.
                                    Among these, diagnosis with the phenotype was modelled through a Cox proportional hazards model with rhythm robustness (wrist temperature amplitude) as a factor.
                                    Effect sizes are expressed in terms of a 2 SD (1.8&deg;C) decrease  in temperature amplitude.
                                </p>
                                <div style="overflow:scroll; max-width:100%">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th> </th>
                                                <th> p-value </th>
                                                <th> log Hazard Ratio (95% CI) <br> per SD </th>
                                                <th> Incidence Rate Increase (95% CI) <br> For 2 SD worse rhythms</th>
                                            </tr>
                                        </thead>
                                        <tr>
                                            <td> Overall </td>
                                            <td> {{fmt_p(phenotype_results.predictive_tests.p)}} </td>
                                            <td> {{fmt_ci(-phenotype_results.predictive_tests.std_logHR, -phenotype_results.predictive_tests.std_logHR_se)}}</td>
                                            <td> {{fmt(Math.exp(-2*phenotype_results.predictive_tests.std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(-phenotype_results.predictive_tests.std_logHR - 1.96*phenotype_results.predictive_tests.std_logHR_se))*100-100, Math.exp(2*(-phenotype_results.predictive_tests.std_logHR + 2 * 1.96*phenotype_results.predictive_tests.std_logHR_se))*100-100)}}</td>
                                        </tr>
                                        <tr v-if="phenotype_results.predictive_tests_by_sex !== undefined">
                                            <td> Males </td>
                                            <td> {{fmt_p(phenotype_results.predictive_tests_by_sex.male_p)}} </td>
                                            <td> {{fmt_ci(-phenotype_results.predictive_tests_by_sex.std_male_logHR, -phenotype_results.predictive_tests_by_sex.std_male_logHR_se)}}</td>
                                            <td> {{fmt(Math.exp(-2*phenotype_results.predictive_tests_by_sex.std_male_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(-phenotype_results.predictive_tests_by_sex.std_male_logHR - 1.96*phenotype_results.predictive_tests_by_sex.std_male_logHR_se))*100-100, Math.exp(2*(-phenotype_results.predictive_tests_by_sex.std_male_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_sex.std_male_logHR_se))*100-100)}}</td>
                                        </tr>
                                        <tr v-if="phenotype_results.predictive_tests_by_sex !== undefined">
                                            <td> Females </td>
                                            <td> {{fmt_p(phenotype_results.predictive_tests_by_sex.female_p)}} </td>
                                            <td> {{fmt_ci(-phenotype_results.predictive_tests_by_sex.std_female_logHR, -phenotype_results.predictive_tests_by_sex.std_female_logHR_se)}}</td>
                                            <td> {{fmt(Math.exp(-2*phenotype_results.predictive_tests_by_sex.std_female_logHR)*100-100)}}% {{fmt_range(Math.exp(-2*(phenotype_results.predictive_tests_by_sex.std_female_logHR - 1.96*phenotype_results.predictive_tests_by_sex.std_female_logHR_se))*100-100, Math.exp(-2*(phenotype_results.predictive_tests_by_sex.std_female_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_sex.std_female_logHR_se))*100-100)}}</td>
                                        </tr>
                                        <tr v-if="phenotype_results.predictive_tests_by_age !== undefined">
                                            <td> Under 65</td>
                                            <td> {{fmt_p(phenotype_results.predictive_tests_by_age.under_65_p)}} </td>
                                            <td> {{fmt_ci(-phenotype_results.predictive_tests_by_age.under_65_std_logHR, -phenotype_results.predictive_tests_by_age.under_65_std_logHR_se)}}</td>
                                            <td> {{fmt(Math.exp(-2*phenotype_results.predictive_tests_by_age.under_65_std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(-phenotype_results.predictive_tests_by_age.under_65_std_logHR - 1.96*phenotype_results.predictive_tests_by_age.under_65_std_logHR_se))*100-100, Math.exp(2*(-phenotype_results.predictive_tests_by_age.under_65_std_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_age.under_65_std_logHR_se))*100-100)}}</td>
                                        </tr>
                                        <tr v-if="phenotype_results.predictive_tests_by_age !== undefined">
                                            <td> Over 65 </td>
                                            <td> {{fmt_p(phenotype_results.predictive_tests_by_age.over_65_p)}} </td>
                                            <td> {{fmt_ci(-phenotype_results.predictive_tests_by_age.over_65_std_logHR, -phenotype_results.predictive_tests_by_age.over_65_std_logHR_se)}}</td>
                                            <td> {{fmt(Math.exp(-2*phenotype_results.predictive_tests_by_age.over_65_std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(-phenotype_results.predictive_tests_by_age.over_65_std_logHR - 1.96*phenotype_results.predictive_tests_by_age.over_65_std_logHR_se))*100-100, Math.exp(2*(-phenotype_results.predictive_tests_by_age.over_65_std_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_age.over_65_std_logHR_se))*100-100)}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <p> There were {{phenotype_results.predictive_tests.N_cases}} cases and {{phenotype_results.predictive_tests.N_controls}} controls included.
                                <span v-if="phenotype_results.predictive_tests_by_sex === undefined"> Results broken down by sex were not run due to low case counts in one or both sexes. </span>
                                <span v-if="phenotype_results.predictive_tests_by_age === undefined"> Results broken down by age were not run due to low case counts. </span>
                            </p>
                        </div>
                        <div v-else>
                            Predictive tests were not run for this phenotype due to low case counts among participants with no prior record of the phenotype at the time of actigraphy recordings.
                        </div>


                        <h4> Prevalence by activity rhythm </h4>

                        <p>
                            The RA (relative amplitude) score derived from acceleration describes activity pattern robustness, with values close to 1 for large diurnal differences and lower values small diurnal differences, see <a href="https://pubmed.ncbi.nlm.nih.gov/2322616/">Witting, et al. 1990</a>.
                            Below, prevalence of {{phenotype}} stratified by the RA score across the population (without controlling for other factors, such as sex or age).
                        </p>

                        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-wrap: wrap">
                            <img v-bind:src="'figures/fancy/' + file_path_phenotype + '.png'" class="fancy_plot"> </img>
                        </div>

                        <p>
                            Top, distribution of RA scores among cases and controls.
                            Vertical dashed lines give mean values.
                            Bottom, prevalence by RA score in black line.
                            Gray bands denote the 95% CI and dashed horizontal line gives the overall population prevalence.
                            Note that RA scores are quite rare above 0.95 or below about 0.75 and so estimates beyond these have high variance and may be unreliable.
                        </p>


                        <h4> PheCODE Definition</h4>

                        <p> Diagnoses of {{phenotype}} were derived from the <a href="https://phewascatalog.org/phecodes">PheCODE</a> {{phenotype_results.phecode.phecode}}. This includes the following sub-PheCODEs:</p>
                        <div class="list">{{phenotype_results.phecode.phecodes.split(";").join(', ')}}</div>
                        <p> From ICD10 codes, diagnoses were identified from the codes:</p>
                        <div class="list">
                            <span v-for="icd10 in phenotype_results.phecode.ICD10_codes.split(';')" v-bin:key='icd10'>
                                <a v-bind:href="'https://www.icd10data.com/search?s=' + icd10"> {{icd10}} </a>,
                            </span>
                        </div>
                        <p> Subjects were further excluded based off diagnoses predating the actigraphy measurement. The following records always occur prior to the date of actigraphy measurement and therefore were used for exclusions. </p>
                        <p> From ICD9 codes, instances were identified from the codes: </p>
                        <div class="list">{{phenotype_results.phecode.ICD9_codes.split(";").join(', ')}}</div>
                        <p> From self-reported conditions during the initial assessment interview, instances were identified from the following conditions:</p>
                        <div class="list">{{phenotype_results.phecode.self_reported_condition_codes.split(';').join(', ')}}. </div>
                        <p> Lastly, subjects were excluded if they had records of any of the following PheCODEs prior to their actigraphy measurement:</p>
                        <div class="list">{{phenotype_results.phecode.controls_excluded_phecode.split(';').join(', ')}}. </div>
                        <!-- TODO give names to these phecodes from their meaning? -->
                    </div>

                    <div v-else>
                        Loading results.
                    </div>

                </div>

            </section>
        </div>
    </body>

</html>

