<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>PheWAS-SensR</title>
        <meta name="description" content="Phenome-Wide Association Study of Actigraphy in the UK Biobank">
        <meta name="author" content="Thomas G. Brooks">

        <meta property="og:title" content="Phenome-Wide Associations Study of Actigraphy in the UK Biobank">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://tgbrooks.github.io">
        <meta property="og:description" content="Thomas Brooks's GitHub pages web page">
        <!-- <meta property="og:image" content="image.png"> -->

        <!--
            <link rel="icon" href="/favicon.ico">
            <link rel="icon" href="/favicon.svg" type="image/svg+xml">
            <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        -->

        <link rel="stylesheet" href="css/main.css">

        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
        <script src="https://cdn.plot.ly/plotly-2.8.3.min.js" defer></script>
        <script src="js/phewas_sensr.js" defer></script>
    </head>

    <body>
        <div id="content">
            <h1>PheWAS-SensR</h1>

            <section>
                <h2> Paper </h2>
                <p id="citation">
                     <a href="https://www.medrxiv.org/content/10.1101/2021.12.09.21267558v1">Phenome-Wide Association Study of Actigraphy in the UK Biobank</a> </br>
                     Brooks TG, Lahens NF, Grant GR, Yvette SI, FitzGerald GA, Skarke C </br>
                     <a href="https://www.medrxiv.org/content/10.1101/2021.12.09.21267558v1">medRxiv 2021.12.09.21267558</a>; doi: <a href="https://doi.org/10.1101/2021.12.09.21267558">https://doi.org/10.1101/2021.12.09.21267558</a> </br>
                     2021.
                 </p>

                 <p> Dec. 11<sup>th</sup>, 2021 version 1 </p>
            </section>

            <section>
                <h2> Abstract </h2>
                <p>
                    Wrist-worn accelerometer actigraphy devices present the opportunity for large-scale data collection from people during their daily lives.
                    Using data from approximately 100,000 participants in the UK Biobank, actigraphy-derived measures of physical activity, sleep, and diurnal rhythms were associated in exploration and validation cohorts with a full phenome-wide set of diagnoses, biomarkers and metadata.
                    Rhythmicity was captured by two independent models based on accelerometer and skin temperature harnessing behavioral (diurnal) and molecular (circadian) components.
                    We found that robust rhythms significantly with biomarkers, survival, and phenotypes including diabetes, hypertension, mood disorders, and chronic airway obstruction; these associations were comparable to those with physical activity and sleep. Surprisingly, associations were mostly consistent between the sexes, while modulation by age was significant.
                    More importantly, rhythms were found to be powerful predictors of future diseases: a two standard deviation difference in wrist temperature rhythms corresponded to increases in rate of diagnosis of 61% in diabetes, 38% in chronic airway obstruction, 27% in anxiety disorders, and 22% in hypertension.
                    Our PheWAS of actigraphy data in the UK Biobank establishes that rhythmicity is fundamental to modeling disease trajectories, as are physical activity and sleep. Integration of long-term remote biosensing into patient care could thus afford an individualized approach to risk management.
                </p>
            </section>

            <section>
                <div id="app">
                    <h2 id="results"> Results </h2>
                    <p>
                        Phenotypes were categorized according to <a href="https://phewascatalog.org/phecodes">PheCODE v1.2</a>.
                        Select a phenotype below to explore selected results related to the chosen phenotype; see paper for full methods and supplemental data for full results.
                        Top actigraphy-associated phenotypes include
                        <a href="#results" v-on:click="phenotype = 'Diabetes mellitus'">diabetes mellitus</a>,
                        <a href="#results" v-on:click="phenotype = 'Hypertension'">hypertension</a>,
                        <a href="#results" v-on:click="phenotype = 'Renal failure'">renal failure</a>,
                        <a href="#results" v-on:click="phenotype = 'Chronic airway obstruction'">chronic airway obstruction</a>,
                        <a href="#results" v-on:click="phenotype = 'Pneumonia'">pneumonia</a>,
                        <a href="#results" v-on:click="phenotype = 'Anxiety disorders'">anxiety disorders</a>, and
                        <a href="#results" v-on:click="phenotype = 'Disorders of lipoid metabolism'">disorders of lipoid metabolism</a>.
                    </p>


                    <select name="phenotype" v-model:value="phenotype">
                        <option v-for="phecode in phecodes" v-bind:value="phecode" v-bind:key="phecode">
                            {{phecode}}
                        </option >
                    </select>

                    <div v-if="phenotype_results !== null">
                        <h3> {{phenotype}} </h3>

                        <h4> Acceleration and Temperature traces </h4>

                        <p>
                            Acceleration and wrist temperature were measured using an wrist-worn  Axivity AX3 for one-week periods (<a href="https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0169649">Doherty, et al 2017</a>).
                            Below are the average acceleration and wrist temperature values by case/control status across the day.
                        </p>
                        <div style="display: flex; align-items: center; justify-content: space-evenly; flex-wrap: wrap">
                            <img v-bind:src="'figures/acc/' + file_path_phenotype + '.png'" width=440 height=330>
                            </img>
                            <img v-bind:src="'figures/temp/' + file_path_phenotype + '.png'" width=440 height=330>
                            </img>
                        </div>

                        <p>
                            Generated from {{phenotype_results.trace_match_counts}} case-controls pairs, matched by age and sex.
                            Temperature values are normalized to have mean 0 in each individual.
                            Solid curves give median value for the population at that time of day, and shaded regions indicate the middle 50% of the population.
                        </p>

                        <h4> Activity Components </h4>
                        <p>
                            Since actigraphy captures multiple mutually overlapping measures, we modelled phenotypes by three activity components: physical activity (average activity levels), sleep quality (sleep efficiency), and diurnal rhythms (relative amplitude of wrist temperature).
                            P-values give significance of the component in a logistic model of case/control status, above and beyond the other two components and controls for covariates.
                            The overall p-value gives significance of the inclusion of all three parameters.
                            <!-- TODO describe effect sizes -->
                        </p>
                        <div style="display:flex; align-items: center; justify-content: space-evenly; flex-wrap: wrap">
                            <table>
                                <thead>
                                    <tr>
                                        <th> Component </th>
                                        <th> p-value </th>
                                        <th> Effect size </th>
                                    </tr>
                                </thead>
                                <tr> <td> Overall </td> <td> {{fmt_p(phenotype_results.three_components.overall_p)}} </td> <td> N/A </td> </tr>
                                <tr> <td> Physical Activity </td> <td> {{fmt_p(phenotype_results.three_components.physical_p)}} </td> <td> {{fmt(phenotype_results.three_components.physical_eff)}} </td> </tr>
                                <tr> <td> Sleep Quality </td> <td> {{fmt_p(phenotype_results.three_components.sleep_p)}} </td> <td> {{fmt(phenotype_results.three_components.sleep_eff)}} </td> </tr>
                                <tr> <td> Diurnal Rhythms </td> <td> {{fmt_p(phenotype_results.three_components.circ_p)}} </td> <td> {{fmt(phenotype_results.three_components.circ_eff)}} </td> </tr>
                            </table>

                            <div id='three_components_chart' style="width:400px; height:250px"> </div>
                        </div>
                        <p>
                            Effect sizes are the mean marginal effects per standard deviation of change in the activity variable in the logistic model.
                            The horizontal lines indicate the 95% confidence intervals.
                        </p>

                        <h4> Do diurnal rhythms predict {{phenotype}}?</h4>
                        <div v-if="phenotype_results.predictive_tests !== undefined">
                            <p>
                                To determine if diurnal rhythms predict later diagnosis with the phenotypes, the individuals who had no record of the phenotype at the time of actigraphy measurement were selected.
                                Among these, the phenotype case/control status was modelled through a Cox proportional hazards model with rhythm robustness (wrist temperature relative amplitude) as a factor.
                            </p>
                            <table>
                                <thead>
                                    <tr>
                                        <th> </th>
                                        <th> p-value </th>
                                        <th> log Hazard Ratio (95% CI) <br> per SD </th>
                                        <th> Incidence Rate Increase (95% CI) <br> For 2 SD worse rhythms</th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td> Overall </td>
                                    <td> {{fmt_p(phenotype_results.predictive_tests.p)}} </td>
                                    <td> {{fmt_ci(phenotype_results.predictive_tests.std_logHR, phenotype_results.predictive_tests.std_logHR_se)}}</td>
                                    <td> {{fmt(Math.exp(2*phenotype_results.predictive_tests.std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(phenotype_results.predictive_tests.std_logHR - 1.96*phenotype_results.predictive_tests.std_logHR_se))*100-100, Math.exp(2*(phenotype_results.predictive_tests.std_logHR + 2 * 1.96*phenotype_results.predictive_tests.std_logHR_se))*100-100)}}</td>
                                </tr>
                                <tr v-if="phenotype_results.predictive_tests_by_sex !== undefined">
                                    <td> Males </td>
                                    <td> {{fmt_p(phenotype_results.predictive_tests_by_sex.male_p)}} </td>
                                    <td> {{fmt_ci(phenotype_results.predictive_tests_by_sex.male_std_logHR, phenotype_results.predictive_tests_by_sex.male_std_logHR_se)}}</td>
                                    <td> {{fmt(Math.exp(2*phenotype_results.predictive_tests_by_sex.male_std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(phenotype_results.predictive_tests_by_sex.male_std_logHR - 1.96*phenotype_results.predictive_tests_by_sex.male_std_logHR_se))*100-100, Math.exp(2*(phenotype_results.predictive_tests_by_sex.male_std_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_sex.male_std_logHR_se))*100-100)}}</td>
                                </tr>
                                <tr v-if="phenotype_results.predictive_tests_by_sex !== undefined">
                                    <td> Females </td>
                                    <td> {{fmt_p(phenotype_results.predictive_tests_by_sex.female_p)}} </td>
                                    <td> {{fmt_ci(phenotype_results.predictive_tests_by_sex.female_std_logHR, phenotype_results.predictive_tests_by_sex.female_std_logHR_se)}}</td>
                                    <td> {{fmt(Math.exp(2*phenotype_results.predictive_tests_by_sex.female_std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(phenotype_results.predictive_tests_by_sex.female_std_logHR - 1.96*phenotype_results.predictive_tests_by_sex.female_std_logHR_se))*100-100, Math.exp(2*(phenotype_results.predictive_tests_by_sex.female_std_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_sex.female_std_logHR_se))*100-100)}}</td>
                                </tr>
                                <tr v-if="phenotype_results.predictive_tests_by_age !== undefined">
                                    <td> Age 55 </td>
                                    <td> {{fmt_p(phenotype_results.predictive_tests_by_age.age55_p)}} </td>
                                    <td> {{fmt_ci(phenotype_results.predictive_tests_by_age.age55_std_logHR, phenotype_results.predictive_tests_by_age.age55_std_logHR_se)}}</td>
                                    <td> {{fmt(Math.exp(2*phenotype_results.predictive_tests_by_age.age55_std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(phenotype_results.predictive_tests_by_age.age55_std_logHR - 1.96*phenotype_results.predictive_tests_by_age.age55_std_logHR_se))*100-100, Math.exp(2*(phenotype_results.predictive_tests_by_age.age55_std_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_age.age55_std_logHR_se))*100-100)}}</td>
                                </tr>
                                <tr v-if="phenotype_results.predictive_tests_by_age !== undefined">
                                    <td> Age 70 </td>
                                    <td> {{fmt_p(phenotype_results.predictive_tests_by_age.age70_p)}} </td>
                                    <td> {{fmt_ci(phenotype_results.predictive_tests_by_age.age70_std_logHR, phenotype_results.predictive_tests_by_age.age70_std_logHR_se)}}</td>
                                    <td> {{fmt(Math.exp(2*phenotype_results.predictive_tests_by_age.age70_std_logHR)*100-100)}}% {{fmt_range(Math.exp(2*(phenotype_results.predictive_tests_by_age.age70_std_logHR - 1.96*phenotype_results.predictive_tests_by_age.age70_std_logHR_se))*100-100, Math.exp(2*(phenotype_results.predictive_tests_by_age.age70_std_logHR + 2 * 1.96*phenotype_results.predictive_tests_by_age.age70_std_logHR_se))*100-100)}}</td>
                                </tr>
                            </table>
                            <p> There were {{phenotype_results.predictive_tests.N_cases}} cases and {{phenotype_results.predictive_tests.N_controls}} controls included.
                                <span v-if="phenotype_results.predictive_tests_by_sex === undefined"> Results broken down by sex were not run due to low case counts in one or both sexes. </span>
                                <span v-if="phenotype_results.predictive_tests_by_age === undefined"> Results broken down by age were not run due to low case counts. </span>
                            </p>
                        </div>
                        <div v-else>
                            Predictive tests were not run for this phenotype due to low case counts among participants with no prior record of the phenotype at the time of actigraphy recordings.
                        </div>


                        <h4> Prevelance by activity rhythm </h4>

                        The RA (relative amplitude) score derived from acceleration describes acitvity pattern robustness, with values close to 1 for large diurnal differences and lower values small diurnal differences, see <a href="https://pubmed.ncbi.nlm.nih.gov/2322616/">Witting, et al. 1990</a>.
                        Below, prevelance of {{phenotype}} stratified by the RA score across the population (without controlling for other factors, such as sex or age).


                        <div> <img v-bind:src="'figures/fancy/' + file_path_phenotype + '.png'" width=440 height=360> </img></div>

                        <h4> PheCODE Details </h4>

                        <p> Diagnoses of {{phenotype}} were derived from the <a href="https://phewascatalog.org/phecodes">PheCODE</a> {{phenotype_results.phecode.phecode}}. This includes the following sub-PheCODEs:</p>
                        <div class="list">{{phenotype_results.phecode.phecodes.split(";").join(', ')}}</div>
                        <p> From ICD10 codes, {{phenotype_results.phecode.icd10_counts_cases}} cases were identified from the codes:</p>
                        <div class="list">{{phenotype_results.phecode.ICD10_codes.split(";").join(', ')}}</div>
                        <p> From ICD9 codes, {{phenotype_results.phecode.icd9_counts_cases}} cases were identified from the codes: </p>
                        <div class="list">{{phenotype_results.phecode.ICD9_codes.split(";").join(', ')}}</div>
                        <p> From self-reported conditions during the initial assessment interview, {{phenotype_results.phecode.self_report_counts_cases}} cases were identified from the following conditions:</p>
                        <div class="list">{{phenotype_results.phecode.self_reported_condition_codes.split(';').join(', ')}}. </div>
                    </div>

                    <div v-else>
                        Loading results.
                    </div>

                </div>

            </section>
        </div>
    </body>

</html>

